<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
    <title>{{ trans.ua_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv='refresh' content='30'/>
    <link rel='shortcut icon' href='img/favicon.ico' />
    <link href="media/css/stile.css" rel="StyleSheet" type="text/css">
    <link href="media/css/demo_page.css" rel="StyleSheet" type="text/css">
    <link href="media/css/demo_table_jui.css" rel="StyleSheet" type="text/css">
    <link href="media/css/jquery-ui-1.7.2.custom.css" rel="StyleSheet" type="text/css">
    <script type="text/javascript" language="javascript" src="media/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="media/js/jquery.dataTables.js"></script>
</head>
<body id="dt_example" class="ex_highlight_row">

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$('#example').dataTable( {
		"oLanguage": {
			"sUrl": "media/dataTables.en.txt"
		},
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"bSort": false
	} );
} );
</script>

    {% macro tab(filename, tabname, current_tab, label) %}
        {% if tabname == current_tab %}
            <li id="current"><a href="{{ filename }}"><p class="menu_text">{{ label }}</p></a></li>
        {% else %}
            <li><a href="{{ filename }}"><p class="menu_text">{{ label }}</p></a></li>
        {% endif %}
    {% endmacro %}
    
    {% import _self as menu %}
    
    <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="main_border">
        <tbody>
            <tr>
                <td class="header" width="100%" height="100">
                    <p align="right" class="user">Loggged in as {{ user }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border="1" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td valign="top">
                                <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td valign="top" height="30px" class="navy">
                                            <div id="menu">
                                                <ul>
                                                    {{ menu.tab('index.php', 'main', tab, trans.menu1_act) }}
                                                    {{ menu.tab('edit_users.php', 'edit_users', tab, trans.menu2_users) }}
                                                    {{ menu.tab('del_user.php', 'del_user', tab, trans.menu3_userdel) }}
                                                    {# {{ menu.tab('daemon_control.php', 'daemon_control', tab, trans.menu4_daemon) }} #}
                                                    {{ menu.tab('edit_settings.php', 'edit_settings', tab, trans.menu5_settings) }}
                                                    {{ menu.tab('webui_users.php', 'webui_users', tab, trans.menu6_webuictl) }}
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                {{ info }}

                                {% block content %}{% endblock %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="bottom_border">
                    <div align="center">
                        <p class="footer">
                            <a href="http://pure-ftpd-webui.org/">Pure-FTPd WebUI</a> {{ version }} © 2010-2012 Yevgeniy Valeyev
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>