{% extends 'base.twig' %}





{% block content %}
    <br>
    <br>
    <br>
    <p class="text_title" align="center">{{ trans.ua_title }}</p>

    {% if activity is defined and activity %}
        <div id="container">
            <div class='demo_jui'>
                <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                    <thead>
                        <tr>
                            <th>{{ trans.ua_t_th1 }}</th>
                            <th>{{ trans.ua_t_th2 }}</th>
                            <th>{{ trans.ua_t_th3 }}</th>
                            <th>{{ trans.ua_t_th4 }}</th>
                        </tr>
                    </thead>
                    {#
                        0   $pid
                        1   $user
                        2   $time
                        3   $stat
                        4   $file
                        5   $peer
                        6   $local
                        7   $port
                        8   $current
                        9   $total
                        10  $percent
                        11  $speed
                        #}
                    <tbody>
                        {% for row in activity %}
                            <tr>
                                <td class='center'>{{ row.1 }}</td>
                                <td class='center'>{{ row.2 }} s / {{ row.11 }}</td>
                                <td class='center'>{{ row.3|trim }}</td>
                                <td>{{ row.4 }} @ {{ row.5 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}